{% extends 'home_base.html' %}
{% load static %}


{% block main %}


<body>
    <div class="wrapper">
        <div class="error-wrapper">
            <a href='index.html' class="logo logo--dark">
                <h1 style="font-size: 80px;">404</h1>
                <p class="slogan--dark">fun to search, fun to watch</p>
            </a>

            <div class="error">
                <h1>404</h1>
                <h1 class="error__text">sorry, but page can’t be found</h1>
                <a href="{% url 'home' %}" class="btn btn-md btn--warning">return to homepage</a>
            </div>
        </div>

        <div class="copy-bottom">
            <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
        </div>

    </div>

</body>


{% endblock %}
