<div class="clearfix"></div>

        <footer class="footer-wrapper">
            <section class="container">
                <div class="col-xs-4 col-md-2 footer-nav">
                    <ul class="nav-link">

                        <li><a href="{% url 'book' %}" class="nav-link__item">Book</a></li>
                        <li><a href="{% url 'news' %}" class="nav-link__item">News</a></li>
                        <li><a href="{% url 'home' %}" class="nav-link__item">Home</a></li>
                        
                    </ul>
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
           
                </div>
                <div class="col-xs-4 col-md-2 footer-nav">
           
                </div>
                <div class="col-xs-12 col-md-6">
                    <div class="footer-info">
                        <p class="heading-special--small">A.Movie<br><span class="title-edition">in the social media</span></p>

                        <div class="social">
                            <a href='{{setting.facebook}}' class="social__variant fa fa-facebook"></a>
                            <a href='{{setting.twitter}}' class="social__variant fa fa-twitter"></a>
                            <a href='{{setting.instagram}}' class="social__variant fa fa-instagram"></a>
                            <a href='{{setting.telegram}}' class="social__variant fa fa-tumblr"></a>
                        </div>
                        
                        <div class="clearfix"></div>
                        <p class="copy">&copy; A.Movie, 2013. All rights reserved. Done by Olia Gozha</p>
                    </div>
                </div>
            </section>
        </footer>