{% load static %}
{% load i18n  %}

<div class="wrapper">
    <!-- Banner -->
    

    <!-- Header section -->
    <header class="header-wrapper header-wrapper--home">
        <div class="container">
            <!-- Logo link-->
            <a href='index.html' class="logo">
                <img alt='logo' src="{{settings.logo.url}}">
            </a>
            
            <!-- Main website navigation-->
            <nav id="navigation-box">
                <!-- Toggle for mobile menu mode -->
                <a href="#" id="navigation-toggle">
                    <span class="menu-icon">
                        <span class="icon-toggle" role="button" aria-label="Toggle Navigation">
                          <span class="lines"></span>
                        </span>
                    </span>
                </a>
                
                <!-- Link navigation -->
                <ul id="navigation">
                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a href="#">{% trans 'Страницы' %} </a>
                        <ul>
                            <li class="menu__nav-item"><a href="{% url 'home' %}">{% trans 'Главная страница' %} </a></li>
                            <li class="menu__nav-item"><a href="{% url 'booking1' %}">{% trans 'Забронировать билет' %} </a></li>
                            <li class="menu__nav-item"><a href="{% url 'news' %}">{% trans 'Новости' %} </a></li>
                            <li class="menu__nav-item"><a href="{% url 'movie_list' %}">{% trans 'Фильмы' %} </a></li>
                            <li class="menu__nav-item"><a href="{% url 'contact' %}">{% trans 'Свяжитесь с нами ' %} </a></li>
                        </ul>
                    </li>
                    

                 

                    <li>
                        <span class="sub-nav-toggle plus"></span>
                        <a href="#">{% trans 'Меню' %}</a>
                           <ul class="mega-menu container">
                                <li class="col-md-3 mega-menu__coloum">
                                    <h4 class="mega-menu__heading">{% trans 'Сейчас в кинотеатре' %}</h4>
                                     <ul class="mega-menu__list">
                                         {% for movie in movie_all %}
                                        <li class="mega-menu__nav-item"><a href="{% url 'detail_movie' movie.id %}">{{movie.name}}</a></li>
                                        {% endfor %}
                                      </ul>
                                  </li>
                                    
                                  
                                  <li class="col-md-3 mega-menu__coloum">
                                    <h4 class="mega-menu__heading">{% trans 'Скоро заканчивается' %}</h4>
                                      <ul class="mega-menu__list">
                                          {% for ending  in endingsoon %}
                                        <li class="mega-menu__nav-item"><a href="#">{{ending.name}}</a></li>
                                        {% endfor %}
                                      </ul>
                                  </li>
                                
                            
                           </ul>
                    </li>
                </ul>
            </nav>
            
            <!-- Additional header buttons / Auth and direct link to booking-->
            <div class="control-panel">
                <div class="auth auth--home">
                  <div class="auth__show">
                    <span class="auth__image">
                      </span>
                    </div>
                    <a href="index.html#" class="btn btn--sign btn--singin">
                        {% if user.is_authenticated %}
                        {{user.username}}
                    </a>
                        <ul class="auth__function">
                            <li><a href="{% url 'logout' %}" class="auth__function-item">{% trans 'Выйти' %}</a></li>
                        </ul>
                        {% else %}
                        {% trans 'Гость' %}
                        <ul class="auth__function">
                            <li><a href="{% url 'login' %}" class="auth__function-item">{% trans 'Зайти' %} </a></li>
                            <li><a href="{% url 'register' %}" class="auth__function-item">{% trans 'Регистрация' %}</a></li>
                        </ul>
                        {% endif %}

                    </div>

                        <form action="{% url 'set_language' %}" method="post">{% csrf_token %}
                            <input name="next" type="hidden" value="{{ redirect_to }}">
                            <select name="language">
                                {% get_current_language as LANGUAGE_CODE %}
                                {% get_available_languages as LANGUAGES %}
                                {% get_language_info_list for LANGUAGES as languages %}
                                {% for language in languages %}
                                    <option value="{{ language.code }}"{% if language.code == LANGUAGE_CODE %}
                                            selected{% endif %}>
                                        {{ language.name_local }} ({{ language.code }})
                                    </option>
                                {% endfor %}
                            </select>
                            <input type="submit" value="Go">
                        </form>
            </div>

        </div>
    </header>